---
layout: default
---

<div class="row"> 
	<h2 class="section_title">About Me</h2>	
</div>

<div class="row about">
	<p>Welcome, stranger. Here's a "fun" summary about me:</p>
		<ul>
      <li>4th year CPSC student at UBC, proficient in C++ and Lua, currently working as a <b>Junior Software Engineer</b> at <a href="https://skyboxlabs.com/">Skybox Labs</a> on <a href="https://store.steampowered.com/app/1048600/Stela/">Stela</a>!</li>
			<li>Released a dimension estimation game <a href="https://play.google.com/store/apps/details?id=com.trevinwong.papercut&hl=en">(Paper Cut)</a> on Play Store.</li>
      <li>Lead a team of 6 people to create a <a href="https://github.com/terbb/Space-Pearates">tower defense/platformer game</a> and it's engine from scratch using C++ and OpenGL, architected using the ECS pattern.</li>
      <li>Strong foundation in algorithms and data structures:
        <ul>
          <li>Relevant courses include <a href="https://www.students.cs.ubc.ca/~cs-320/2018W2/">Intermediate Algorithm Design and Analysis</a> and <a href="https://www.ugrad.cs.ubc.ca/~cs490/2018W2/">Problem Solving in Computer Science</a>.</li>
          <li><a href="https://github.com/terbb/cpp-practice">Relevant studying</a> includes over 100 LeetCode problems solved and documented, basic data structures from <code>heaps</code> to <code>AVL trees</code> and basic sorting algorithms like <code>mergeSort</code> and <code>quickSort</code> implemented from scratch in C++</li>
        </ul>
      </li>
      <li>Volunteered at <a href="https://s2019.siggraph.org/">SIGGRAPH 2019</a>!
        <li>I love playing all kinds of games, but here are some of my favorites: <a href="https://play.na.leagueoflegends.com/en_US">LoL</a>, <a href="https://en.wikipedia.org/wiki/Borderlands_(video_game)">Borderlands</a>, <a href="https://en.wikipedia.org/wiki/Team_Fortress_2">TF2</a>, <a href="https://en.wikipedia.org/wiki/Super_Smash_Bros._Melee">SSBM</a>, <a href="https://en.wikipedia.org/wiki/Super_Smash_Bros._Ultimate">SSBU</a>, <a href="https://en.wikipedia.org/wiki/Soulcalibur_II">Soul
            Calibur 2</a>, <a href="https://www.newgrounds.com/portal/view/301531">Murloc RPG</a>, <a href="https://sonny.fandom.com/wiki/Sonny_2">Sonny 2</a>, <a href="https://en.wikipedia.org/wiki/Shining_Soul_II">Shining Soul II</a>, <a href="https://store.steampowered.com/app/335820/Dream_Of_Mirror_Online/">Dream Of Mirror Online</a>, <a href="https://en.wikipedia.org/wiki/Slay_the_Spire">Slay the Spire</a>, but my absolute favorite game is <a href="https://en.wikipedia.org/wiki/Warcraft_III:_Reign_of_Chaos">WC3</a>, particularly because of the custom maps.
      </li>
      <li>Modest gaming achievements include: 
      <ul>
        <li>Peak rank in LoL was <a href="https://na.op.gg/summoner/userName=terb">Diamond 5, Season 4</a>.</li>
        <li>Won an amateur SSBU tournament of 40 people.</li>
      </ul>
		</ul>

		<p>And here's my <b><a href="/assets/resume.pdf">resume</a></b>.</p>

    <p>While I love games of all kinds, my focus is in those that encourage player interaction, creativity and experimentation. I believe the spirit of play and fun is in the choices that players get to make and the experiences that they get to create themselves. One of my favorite examples of this is games like <a href="https://en.wikipedia.org/wiki/Paper_Mario">Paper Mario</a>. The simple act of challenging the player to time a button press makes even typical bland RPG combat against mobs
    fun!</p>
    
    <p>Hence why I love games like WC3 that offer tools that make it easy for people to make games, since I believe making a game is the ultimate expression of player choice. That's why I really love to discover new kinds of games made by other people! Some great custom maps and examples: Warlocks, Enfos, Smashcraft, Pyramid Escape, Uther Party, Dark Deeds, Island Defense, Island Troll Tribes.</p>

		<span>If you have any questions or inquiries, email <b>trevinwong@gmail.com</b>.</span>
</div>


<!--
<div class="row">
<h2 class="section_title">Projects</h2>
</div>

<div class="row">
{% for post in site.categories['Project'] %}
  {% assign mod = forloop.index0 | modulo: 2 %}
  {% if mod == 0 %}
    <div class="row">
  {% endif %}


        <div class="col s6">
          <div class="card">
            <div class="card-image">
              {% capture thumbnailPath %}{{ post.date | date: "%Y-%m-%d" }}-{{ post.title | slugify }}/thumbnail.png{% endcapture %}
              <img src="/assets/project/{{ thumbnailPath }}"/>
              <span class="card-title title" style="font-weight: 800;text-shadow: 1px 1px 2px black;">{{ post.title }}</span>
              <span class="card-title" style="font-weight: 50;text-shadow: 1px 1px 2px black;">{% for technology in post.technologies %}
              {{ technology }}
              {% endfor %}</span>
            </div>
            <div class="card-content">
              {% include project-type.html type=post.type %}
              <p>{{ post.excerpt }}</p>
            </div>
            <div class="card-action">
              <a href="{{ post.url | prepend: site.url }}">Details</a>
              <a href="{{ post.github }}">Github</a>
              {% if post.blog-post %}
              <a href="{{ post.blog-post }}">Blog Post</a>
              {% endif %}
            </div>
          </div>
					</div>

        {% if mod == 1 %}
          </div>
        {% endif %}
{% endfor %}
</div>
 --!> 


<div class="row"> 
	<h2 class="section_title">Projects</h2>
</div>

<div class="row">
{% for post in site.categories['Project'] %}
<div class="row catalogue-row">
	<div class="col">
		<div class="catalogue-title">
			<a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a> 
			{% if post.github %}
				<a href="{{ post.github }}"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
			{% endif %}
			</div>
		<time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
		{% for award in post.awards %}
		<span class="badge badge-warning">{{ award }}</span>
		{% endfor %}	
		{% for tag in post.tags %}
		<span class="badge badge-secondary">{{ tag }}</span>
		{% endfor %}
		<p class="catalogue-content">{{ post.excerpt }}</p>
	</div>
</div>
{% endfor %}
</div>
                           
                           
<div class="row"> 
	<h2 class="section_title">Blog</h2>
</div>

<div class="row">
{% for post in site.categories['Blog'] %}
<div class="row catalogue-row">
	<div class="col">
		<a class="catalogue-title" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
		<time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
		{% for award in post.awards %}
		<span class="badge badge-warning">{{ award }}</span>
		{% endfor %}	
		{% for tag in post.tags %}
		<span class="badge badge-secondary">{{ tag }}</span>
		{% endfor %}
		<p class="catalogue-content">{{ post.excerpt }}</p>
	</div>
</div>
{% endfor %}
</div>
                           
