<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/slider/ideal-image-slider.css">
  {% include slider_styles.html %}
</head>
<body>

<header>
	<div>
		<h1 class="main_title">
				<a href="/">Trevin Wong</a>
		</h1>
		<p class="main_subtitle">{% include random_subtitle.html %}</p>
	</div>
  <div>
    <ul class="social">
      <a href="https://github.com/terbb"><li><i class="fa fa-github-alt fa-4x" aria-hidden="true"></i></li></a>
      <a href="https://www.linkedin.com/in/trevin-wong/"><li><i class="fa fa-linkedin fa-4x" aria-hidden="true"></i></li></a>
    </ul>
  </div>
</header>
