{% assign min = 0 %}
{% assign max = 23 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

{% if randomNumber == 0 %}
This is an arbitrary subtitle. And you are an arbitrary reader!
{% endif %}
{% if randomNumber == 1 %}
If you're reading this, you're the 300,000,000th person to read this, claim your prize now!
{% endif %}
{% if randomNumber == 2 %}
You have awakened me too soon, Executus!
{% endif %}
{% if randomNumber == 3 %}
Kept you waiting, huh?
{% endif %}
{% if randomNumber == 4 %}
Join the Nintendo club today!
{% endif %}
{% if randomNumber == 5 %}
I'm not gonna run away and I never go back on my word, that's The Javascript Way!
{% endif %}
{% if randomNumber == 6 %}
The more things change, the more they stay the same.
{% endif %}
{% if randomNumber == 7 %}
Big, if true.
{% endif %}
{% if randomNumber == 8 %}
Water. Earth. Fire. Air. Long ago, the four nations lived together in harmony.
{% endif %}
{% if randomNumber == 9 %}
It's high noon somewhere in the world...
{% endif %}
{% if randomNumber == 10 %}
There are 10 types of people in the world. Ones who can read binary and ones who don't.
{% endif %}
{% if randomNumber == 11 %}
Whose got the hot hands?
{% endif %}
{% if randomNumber == 12 %}
Do you remember, the 21st night of September?
{% endif %}
{% if randomNumber == 13 %}
My potions are too strong for you, traveller.
{% endif %}
{% if randomNumber == 14 %}
Why was 9 afraid of 7? Because 7 8 9.
{% endif %}
{% if randomNumber == 15 %}
It's the simple things in life, like reading this subtitle.
{% endif %}
{% if randomNumber == 16 %}
But how does it taste?
{% endif %}
{% if randomNumber == 17 %}
I am trained in gorilla warfare.
{% endif %}
{% if randomNumber == 18 %}
Oof
{% endif %}
{% if randomNumber == 19 %}
You will be shortly redirected to www.traviswong.com...
{% endif %}
{% if randomNumber == 20 %}
Scroll down for extremely exciting content.
{% endif %}
{% if randomNumber == 21 %}
I am going into battle, and I need your strongest potions.
{% endif %}
{% if randomNumber == 22 %}
My name is the dog.
{% endif %}
