// Begin general styling for the website.
html {
 font-family: $raleway;
 font-size: 1em;

 @media (min-width: 600px) {
   font-size: 1.125em;
 }
}

.container {
 margin: 0 auto;
 padding: 30px 0;
 max-width: 1280px;
 width: 90%;
}
@media only screen and (min-width: 601px) {
 .container {
   width: 85%;
 }
}
@media only screen and (min-width: 993px) {
 .container {
   width: 50%;
 }
}


// Begin styling for default layout.
//// Begin styling for navigation bar.
.nav {
  margin-top: 1.250em;
  margin-bottom: 6em;

   ul {
     list-style-type: none;
   }

   li {
    @include transition(all .2s ease-out);
    display: inline;

    &:hover a,
    &:focus a {

    }
   }

    a {
    color: #B71717;
    padding: 0px 1.000em;
    font-family: $baloo;
    font-size: 1.438em;
   }
}

//// Begin styling for footer bar.

.social {
 list-style-type: none;
 margin: 0;
 padding: 0.208em;
 margin-right: 0.208em;
 text-align: center;

 li {
   display: inline;
 }

 a li i {
  @include transition(all .2s ease-out);
  color: #636363;
  padding: 0 0.208em;

  &:hover,
  &:focus {
    color: #B71717;
  }
 }
}

//// Sticky footer.
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.page-footer {
  background-color: #B71717;
}

.meta-info {
 font-family: $raleway;
 text-align: center;
 color: #636363;
 margin: 0px 0px 1.250em;
 font-size: 0.938em;
 font-weight: 900;
}

// Begin styling for about page.

.about {
  &-title {
  font-family: $lato;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  color: black;
  text-align: left;
  border-bottom: 0.4rem solid #B71717;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
}

 &-text {
   font-family: $lato;
   font-size: 3rem;
   font-weight: bold;
   margin: 0;
   text-align: center;
 }
}


// Begin styling for post layout.
.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $open-sans;
    letter-spacing: .125em;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: #B71717;
    font-family: $lato;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
  }

  &-line {
    border-bottom: .4rem solid black;
    display: block;
    margin: 0.5rem 0px 1rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}

// Begin styling for the post previews on the Blog section.

.catalogue {
  &-item {
    border-bottom: 0.1em dashed #B71717;
    color: $default-color;
    padding: 1.250em 0px;
    margin: 0;
  }

  &-time {
    color: $grey-1;
    font-family: $source-sans-pro;
    font-size: 0.813em;
    letter-spacing: 0.083em;
  }

  &-title {
    color: #B71717;
    display: block;
    font-family: $lato;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    margin-left: -0.083em;
  }

  &-content {
    margin: 0.208em 0;
    color: #757575;
    font-family: $raleway;
    font-size: 1rem;
  }

  &-image {
    width: 6.5em;
    height: 6.5em;
  }
}

// Begin styling for cards on projects.

.title {
  margin: 1.250em 0px;
}

// Begin styling for landing page.

.landing {

  &-info {
    color: white;
    width: 100%;
  }

  &-name {
    font-family: $lato;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -1rem;
  }

  &-description {
    font-family: $muli;
    font-size: 2rem;
  }

  &-skills {
    margin-top: 0.8rem;
    font-family: $muli;
    font-size: 1rem;
  }

  &-tools {
    margin-top: 0.1rem;
    font-family: $muli;
    font-size: 1rem;
  }
}
