// Apply default text styling.
html,
body {
  font-family: $regular_text;
  color: $default-color;
  font-size: 1em;
  -webkit-text-size-adjust: 100%; // something to do with safari and iphone inflating fonts
}

// Turn list elements into bullets.
li {
  list-style-type:disc!important;
}

// Responsive CSS.
@include media-breakpoint-up(sm) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
}
@include media-breakpoint-up(md) {
	.container {
		padding-left: 5em;
		padding-right: 5em;
	}
}
@include media-breakpoint-up(lg) {
	.container {
		padding-left: 10em;
		padding-right: 10em;
	}
}
@include media-breakpoint-up(xl) {
	.container {
		padding-left: 14em;
		padding-right: 14em;
	}
}

// Style headers.
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $header_text;
}

// Reserved for big red title headers.
h1 { 
  font-family: $header_text;
  font-size: 3.5em;
  font-weight: 400;
	color: #B71717;
  text-align: center;
	margin-top: 0.5em;
}

.about {
	margin-bottom: 1em;
}

// To style the subtitle underneath the big red title.
.main_subtitle{
  font-family: $regular_text;
	color: $default-color;
  font-size: 1.2em;
  margin: 0;
	padding: 0;
  text-align: center;
  margin-bottom: 0.1em;
  padding-bottom: 0em;
}

// Reserved for dark, bold headers.
h2 { 
  font-family: $header_text;
  font-size: 2.2em;
	color: $default-shade;
	margin: 0.6em 0;
	font-weight: 400;
}

// Reserved for smaller, dark headers.
h3 { 
  font-family: $header_text;
  font-size: 1.5em;
	color: $default-shade;
	margin: 0.5em 0;
}

// Turn links red.
a {
  color: $main-color;
  text-decoration: none;
}

// Style block quotes.
blockquote {
  border-left: 0.3em solid $main-color;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

// Style social media links at the top (github, linkedin)
.social {
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-align: center;

 li {
   display: inline;
	 margin: 1em 1em;
 }

 a li i {
  @include transition(all .2s ease-out);
  color: #636363;
  padding: 0;

  &:hover,
  &:focus {
    color: #B71717;
  }
 }
}

// Sticky footer.
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.footer {
	margin-top: 1em;
	margin-bottom: 1em;
}

.meta-info {
 font-family: $regular_text;
 text-align: center;
 margin: 0;
 margin-bottom: 2em;
 padding: 0;
 color: #636363;
 font-size: 1.5em;
 font-weight: 900;
}

// Begin styling for post layout.
.post {
	margin-top: 0.5em;

  &-info {
    color: $default-tint;
    font-family: $regular_text;
    letter-spacing: .125em;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: #B71717;
    font-family: $regular_text;
    margin: 0;
    text-align: center;
    font-weight: bold;
  }

  &-line {
    border-bottom: .4rem solid black;
    display: block;
    margin: 0.5rem 0px 1rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}

// Begin styling for the post previews on the Blog section.

.catalogue {
	&-row {
		margin-bottom: 1.5em;
	}

  &-time {
    color: $grey-1;
    font-family: $time_text;
    font-size: 1em;
    letter-spacing: 0.2em;
  }

  &-title {
    color: #B71717;
    display: block;
    font-family: $regular_text;
    font-weight: bold;
		text-align: left;
    font-size: 1.5em;
    margin: 0;
  }

  &-content {
    margin: 0.208em 0;
    color: #757575;
    font-family: $regular_text;
    font-size: 1rem;
  }

  &-image {
    width: 6.5em;
    height: 6.5em;
  }
}
