// Begin general styling for the website.
* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $regular_text;
  font-size: 1em;

  @media (min-width: 600px) {
    font-size: 1em;
  }
}

li {
  list-style-type:disc!important;
  margin-left:1.5em;   
}

.container {
	padding-left: 15em;
	padding-right: 15em;
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $header_text;
  line-height: normal;
}

h1 { 
  font-family: $header_text;
  font-size: 3.5em;
  font-weight: 400;
	color: #B71717;
  text-align: center;
  margin-bottom: 0em;
}

h2 { 
  font-family: $header_text;
  font-size: 2em;
	color: $default-shade;
}

a {
  color: $main-color;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.section_title {
	margin-bottom: 0;
}

blockquote {
  border-left: 0.3em solid $main-color;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

// Begin styling for default layout.
//// Begin styling for footer bar.

.social {
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-align: center;

 li {
   display: inline;
	 margin: 1em 1em;
 }

 a li i {
  @include transition(all .2s ease-out);
  color: #636363;
  padding: 0;

  &:hover,
  &:focus {
    color: #B71717;
  }
 }
}

//// Sticky footer.
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.page-footer {
  background-color: #B71717;
}

.meta-info {
 font-family: $regular_text;
 text-align: center;
 margin: 0;
 margin-bottom: 2em;
 padding: 0;
 color: #636363;
 font-size: 1.5em;
 font-weight: 900;
}

// Begin styling for about page.

.main_subtitle{
  font-family: $regular_text;
	color: $default-color;
  font-size: 1.2em;
  margin: 0;
	padding: 0;
  text-align: center;
  margin-bottom: 0.1em;
  padding-bottom: 0em;
}


// Begin styling for post layout.
.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $regular_text;
    letter-spacing: .125em;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: #B71717;
    font-family: $regular_text;
    margin: 0;
    text-align: center;
    font-weight: bold;
  }

  &-line {
    border-bottom: .4rem solid black;
    display: block;
    margin: 0.5rem 0px 1rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}

// Begin styling for the post previews on the Blog section.

.catalogue {
  &-item {
    border-bottom: 0.1em dashed #B71717;
    color: $default-color;
    padding: 1.250em 0px;
    margin: 0;
  }

  &-time {
    color: $grey-1;
    font-family: $time_text;
    font-size: 0.813em;
    letter-spacing: 0.083em;
  }

  &-title {
    color: #B71717;
    display: block;
    font-family: $regular_text;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
  }

  &-content {
    margin: 0.208em 0;
    color: #757575;
    font-family: $regular_text;
    font-size: 1rem;
  }

  &-image {
    width: 6.5em;
    height: 6.5em;
  }
}

// Begin styling for cards on projects.

.title {
  margin: 1.250em 0px;
}
