{% include header.html %}

<header>
<div>
  <ul class="nav">
    <div class="right-align">
      <a style="font-size: 33px;
      margin-right: 1130px;" href="/">trevin wong</a>
      <span style="margin-right: 80px;">
    <li><a href="/blog">blog</a><li>
    <li><a href="/projects">projects</a><li>
    <li><a href="/about">about</a><li></span>
    </div>
  </ul>

</div>
</header>


<main>
  {% if page.url == "/" %}
    {{ content }}
  {% else %}
  <div class="container">
    {{ content }}
  </div>
  {% endif %}
</main>


      <footer class="page-footer white">
        <div>
          <ul class="social">
            <a href="https://github.com/terbb"><li><i class="fa fa-github-alt fa-4x" aria-hidden="true"></i></li></a>
            <a href="https://www.linkedin.com/in/trevin-wong/"><li><i class="fa fa-linkedin fa-4x" aria-hidden="true"></i></li></a>
          </ul>
        </div>
        </div>
          <p class="meta-info">© 2017 Trevin Wong</p>
      </footer>

{% include footer.html %}
