---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.date %}
      <br>
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title | upcase }}</h1>
  <div class="post-line"></div>
  {% if page.project-post %}
  <h5 style="float: right; margin:0;">PROJECT: <a href="{{ page.project-post }}"><span style="color:#B71717;">{{ page.project | upcase }}</span></a></h5>
  {% endif %}
  {% if page.blog-post %}
	<h5 style="float: right; margin:0;">BLOG: <a href="{{ page.blog-post }}"><span style="color:#B71717;">{{ page.blog | upcase }}</span></a></h5>
  {% endif %}
  {{ content }}
</div>
