---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.date %}
      <br>
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title | upcase }}</h1>
  <div class="post-line"></div>
  {% if page.project-post %}
  <b style="float: right;">PROJECT: <a href="{{ page.project-post }}"><span style="color:#B71717;">{{ page.project | upcase }}</span></a></b>
  {% endif %}
  {{ content }}

</div>
